<!-- <div class="header bg-gradient-lignt pb-1 pt-2 pt-md-2">
</div>
<div class="row mb-2">
    <div class="col-sm-6">
      <h5></h5>
    </div>
    <div class="col-sm-6 ">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item active">Gestion Frais</li>
      </ol>
    </div>
  </div>
<div class="card">
    <div class="card-header">
      <h3 class="card-title">Liste des Frais</h3>
      <div class="card-tools">
        <button class="btn  btn-outline-primary btn-sm" (click)="AddCoasts()" >
            <i class="fas fa-plus-circle" ></i> Ajouter Frais</button>
      </div>
    </div>
    <div class="card-body table-responsive p-0">
      <table class="table table-hover">
        <thead>
            <tr>  
                <th>Type Frais</th>
                <th> Montant </th>
              
                <th> Action </th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of coastsService.ListAllCoasts">
            
            <td>{{item.coastsTypeLabel}}</td>
            <td>{{item.amount}}</td>
          
            <td>
              <div class="btn-group "> -->
                <!-- <button class="btn btn-sm btn-default" (click)="onUpdateCoasts(item)">
                  <i class="fas fa-pen text-primary" ></i></button> -->
                <!-- <button class="btn btn-sm btn-default" (click)="onDeleteCoasts(item)">
                  <i class="fa fa-trash text-danger"></i></button>
              </div>
              </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-center"  id="first"
    previousLabel="Préc" nextLabel="Suiv"></pagination-controls>
    </div> -->
   <!--  Add or edit Ponderation modal  -->

