<div class="header bg-gradient-lignt pb-1 pt-2 pt-md-2">
</div>
<div class="row mb-2">
    <div class="col-sm-6">
      <h5></h5>
    </div>
    <div class="col-sm-6 ">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
        <li class="breadcrumb-item active">Fiche Suivi</li>
      </ol>
    </div>
  </div>
<div class="card">


      <div class="card-header shadow-sm mb-2">
        <h3 class="card-title text-lead">Fiche Suivi

        </h3>
        <div class="card-tools">
          <button class="btn  btn-outline-primary btn-sm" (click)="onAddDechet()">
            <i class="fas fa-plus-circle"></i> Ajouter</button>
        </div>
      </div>


 
    

    <div class="card-body ">
      <div class="alert alert-has-icon w-100 border shadow-sm mt-0">
        <div class="alert-icon"><i class="fas fa-filter text-secondary"></i></div>
        <!-- <div class="alert-body">
          <div class="alert-title text-secondary">Filter</div>
          <form [formGroup]="subsidiaryListSearchForm">
          <div class="row p-3 ">



  <div class="col-md-4"> 
    <div class="form-group">
      <label>Mois </label>
      <input type="month" class="form-control" name="label"  formControlName="label"    
   
      
      >
    </div>
  </div>










 

 </div>
</form>


    
        </div> -->
      </div>
    


 


        
     </div>
    </div>

    
   

